body {
    padding: 0;
    margin: 0 auto;
}




.header {
    float: left;
    width: 100%;
	background-image: url('../images/blog-hero.jpg');
	background-size:100% 112%;
	background-repeat: no-repeat;
}
.header_center {
    float: none;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}
.header_top {
    float: left;
    width: 100%;
}
.header1 {
    float: left;
    width: 27%;
   
}
.header1 h3 {
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 400;
	letter-spacing: 3px;
}
.header2 {
    float: left;
    width: 53%;
	margin: 1.4em 0em;
	
	
}
.header2 li {
    display: inline;
    margin: 0em 1.4em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
	
}
.header2 a {
    text-decoration: none;
    color: white;
}
.header2 span {
    color: #EA6F83;
}
.header3 {
    float: right;
    width: 20%;
	margin: 1.5em 0em;
	
}
.header3 button {
    padding: 1em 4em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    border: none;
	outline: none;
    border: 1px solid #EA6F83;
	color: white;
    border-radius: 30px;
    background: #EA6F83;
    cursor: pointer;
}
.header3 button:hover{
	background-color: white;
	color: #EA6F83;
	border: 1px solid #EA6F83;
	
}


.header_bottom {
    float: left;
    width: 100%;
    text-align: center;
	margin: 3em 0em 8.5em 0em;
}
.header_bottom h1{
	font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 700;
	margin: 0em 6.5em;
	color:white;
	letter-spacing: 0.8px;
}
.blog {
    float: left;
    width: 100%;
}
.blog_center {

    float: none;
    width: 100%;
    margin: 0 auto;
    max-width: 82%;

}
.blog_images_one {
    float: left;
    width: 100%;
	margin-top: 7em;
}

.blog_img1 {
    float: left;
    width: 29%;
	text-align: center;
	border: 15px solid #F9F3F4;
	cursor: pointer;
}
.blog_img2 {
    float: left;
    width: 29%;
	text-align: center;
	border: 15px solid #F9F3F4;
	margin: 0em 1.6em;
	cursor: pointer;
}
.blog_img3 {
    float: right;
    width: 29%;
	text-align: center;
	border: 15px solid #F9F3F4;
	cursor: pointer;
}
.blog_img1 img,.blog_img2 img,.blog_img3 img {
    width: 100%;
	height: 250px;
}
.blog_img1 h3,.blog_img2 h3 ,.blog_img3 h3  {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
.blog_img1 p,.blog_img2 p,.blog_img3 p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #5E6365;
	margin: 0em 0em 5em 0em;
}
.blog_images_two {
    float: left;
    width: 100%;
	margin-top: 3em;
}

.blog_img4 {
    float: left;
    width: 29%;
	text-align: center;
	border: 15px solid #F9F3F4;
	cursor: pointer;
}
.blog_img5 {
    float: left;
    width: 29%;
	text-align: center;
	border: 15px solid #F9F3F4;
	margin: 0em 1.6em;
	cursor: pointer;
}
.blog_img6 {
    float: right;
    width: 29%;
	text-align: center;
	border: 15px solid #F9F3F4;
	cursor: pointer;
}
.blog_img4 img,.blog_img5 img,.blog_img6 img {
    width: 100%;
	height: 220px;
}
.blog_img4 h3,.blog_img5 h3 ,.blog_img6 h3  {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
.blog_img4 p,.blog_img5 p,.blog_img6 p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #5E6365;
	margin: 0em 0em 5em 0em;
}
.blog_bottom {
    float: left;
    width: 100%;
    text-align: center;
	margin: 4em 0em;
}
.blog_bottom button {
    padding: 1em 4em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #EA6F83;
    color: white;
    margin: 3em 0em 3em 0em;
}
.blog_bottom button:hover {
	background-color: white;
	border:1px solid #EA6F83;
	color: #EA6F83;
}
/** blofg section ends**/


.like {
    float: left;
    width: 100%;
    text-align: center;
    background-image: url('../images/order-img.jpg');
    background-size: 100% 140%;
    background-repeat: no-repeat;
}
.like h3 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
	padding-top: 4em;
	margin-bottom: 0px;
}
.like p {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-weight: 700;
	color: white;
	margin-top: 0px;
}
.like button {
	 padding: 1em 4em;
	text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #EA6F83;
    color: white;
    margin: 1em 0em 3em 0em;
}
.like button:hover {
	background-color: white;
	border:1px solid #EA6F83;
	color: #EA6F83;
}

/** like section ends**/
.last_section {
    float: left;
    width: 100%;
    background-color: #F9F3F4;
	padding: 2.5em 0em 5em 0em;
}
.last_center {
    float: none;
    width: 100%;
    margin: 0 auto;
    max-width: 82%;
}
.last_section1 {
    float: left;
    width: 27%;
}
.last_section2 {
    float: left;
    width: 25%
}
.last_section2 a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #656565;
    line-height: 25px;
}
.last_section3 {
    float: left;
    width: 27%;
}
.last_section4 {
    float: right;
    width: 21%;
}
.last_section4 i {
    margin: 0em 1em 0em 0em;
    color: #656565;
    cursor: pointer;
}
.last_section4 i:hover {
    color: black;
}
.last_section1 h4,.last_section2 h4,.last_section3 h4,.last_section4 h4 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #1F1F1F;
}
.last_section1 p,.last_section3 p  {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 1em 4em 0em 0em;
    line-height: 25px;
    color: #656565;
	letter-spacing: 0.7px;
}

/**last section ends**/
.footer {
    float: left;
    width: 100%;
    text-align: center;
    background-color: #EA6F83;
    padding: 5px 0px 7px 0px;
}
.footer p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
	color: #1F1F1F;
	letter-spacing: 0.7px;
}